:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

body:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
}

body:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
}

.container {
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 2%;
}

.board {
    column-count: 3;
    column-gap: 1rem;
}

.container h2 {
    margin: 0 0 30px;
    text-align: center;
    border-bottom: 8px solid #223969;
}

.card {
    background: #ccc;
    width: 84%;
    padding: 8%;
    margin-bottom: 20px;
    border-radius: 6px;
    color: #fff;
}

.card.a {
    background: #41a7ff;
}

.card.cr {
    background: #ff3434;
}

.card.r {
    background: #32b336;
}

.card.ca {
    background: #d83f3f;
}

.card.d {
    background: #ff0053;
}

.card.t {
    background: #ffa501;
}

.card h5 {
    margin: 0;
    font-size: 1rem;
}

.card span {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4px;
}

.card i {
    font-size: 3rem;
}

.prevention-care {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 1em;
    margin: 0 auto;
    font-weight: 500;
}

img {
    width: 100px;
    margin: 0.5em;
}

.footer {
    max-width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #4e43c4;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


@media screen and (max-width: 768px) {
    .board {
        column-count: 2;
    }

    .card span {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 500px) {
    .board {
        column-count: 1;
    }
}
